{% load static %}
<!DOCTYPE html>
<html>

<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="{% static 'blog/main.css' %}">
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">

<head>
	{% if title %}
		<title>Pismo Clams - {{ title }}</title>
	{% else %}
		<title>Pismo Clams</title>
	{% endif %}
</head>

<style>
	input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
	    -webkit-appearance: none;
	    margin: 0;
	}
	 
	input[type="number"] {
	    -moz-appearance: textfield;
	}
	#bg {
		position: fixed; 
	  	top: -50%; 
	  	left: -50%; 
	  	width: 200%; 
	  	height: 200%;
	}
	#bg img {
	  	position: absolute; 
	 	top: 0; 
	  	left: 0; 
	  	right: 0; 
	  	bottom: 0; 
	  	margin: auto; 
	  	min-width: 50%;
	  	min-height: 50%;
	}
	div {
	overflow: visible;
	}
</style>

<img src="/media/bg.jpg" id="bg" alt="">

{% if user.is_authenticated %}
	<body>
		<div id="app" class="container">
		    <nav class="navbar navbar-expand-md fixed-top navbar-dark bg-dark">
		        <a class="navbar-brand" href="{% url 'blog-home' %}">Pismo Clams</a>
		        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
		            <span class="navbar-toggler-icon"></span>
		        </button>
		        <div id="navbarNavDropdown" class="navbar-collapse collapse">
		            <ul class="navbar-nav mr-auto">
			        	<li class="nav-item dropdown">
		                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		                      Menu
		                    </a>
		                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
		                        <a class="dropdown-item" href="{% url 'blog-about' %}">About</a>
		                        <a class="dropdown-item" href="{% url 'profile' %}">Profile</a>
					        	{% if user.is_staff %}
					        		<a class="dropdown-item" href="{% url 'post-create' %}">New Survey</a>
					          	{% endif %}
		                    </div>
		                </li>
		            </ul>
		            <ul class="navbar-nav">
		                <li class="nav-link">
		                	{% if user.is_authenticated %}
								<a class="nav-link" href="{% url 'logout' %}">Logout</a>
					       	{% else %}
					       	{% endif %}    
		                </li>
		            </ul>
		        </div>
		    </nav>
		</div>
{% endif %}
	
    </nav>
	<main role="main" class="container">
	  <div class="row">
	    <div class="col-md">
	      {% if messages %}
	      	{% for message in messages %}
	      		<div class="alert alert-{{ message.tags }}">
	      			{{ message }}
	      		</div>
	      	{% endfor %}
	      {% endif %}
	      {% block content %}{% endblock %}
	    </div>
	  </div>
	</main>

	
</body>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>

<script>
var html = '<tr><td>Section 0:</td><td><button class="append">+</button></td><td><input type="number" name="clamSize"></td></tr>';
var clamSize = '<td><input type="number" name="clamSize"></td>';
var minPlot = 0;
var maxPlot = 1;
 
$(function() { 
    $('#addBottomRow').click(function(){
    	maxPlot++;
        $('tbody').append('<tr><td><button class="append" type="button">Add</button></td><td>' + maxPlot + ':</td><td><input type="number" name="name"></td></tr>');
    });
    
    $('#addTopRow').click(function(){
    	minPlot--;
        $('tbody').prepend('<tr><td><button class="append" type="button">Add</button></td><td>' + minPlot + ':</td><td><input type="number" name="name"></td></tr>');
    });
 
    $(document).on('click', '.remove', function() {
        $(this).parents('tr').contains(clamSize).html('');
    });
    
    $(document).on('click', '.append', function() {
        $(this).parents('tr').append(clamSize);
    });
 
    $('#getValues').click(function(){
    	var table = document.getElementById('dataTable');
    	var counter = 0;
    	var values = [];
    	var clams = [];
    	
        var values = [];
        $('input[name="clamSize"]').each(function(i, elem){
            clams.push($(elem).val());
        });
    	
    	for (var r = 0, n = table.rows.length; r < n; r++){
    		values.push(table.rows[r].cells[1].innerHTML)
    		for(var c = 0, m = table.rows[r].cells.length - 2; c < m; c++){
        		values.push(clams[counter]);
        		counter++;
    		}
    	}
    	
    	document.getElementById('clamSizeList').value = values;
    	
    	alert(values);  	

        //alert(values.join(' '));
    });
});
</script>
</html>