{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
	

	<style>
        .container {
            width: 500px;
            margin: 100px auto;
        }
        input {
            width: 300px;
            font-size: 18px;
            margin: 10px;
            padding: 10px;
        }
        .remove {
            width: 30px;
            height: 30px;
            font-size: 20px;
            background-color: tomato;
            color: white;
            border: none;
            border-radius: 15px;
        }
        #addRow, #getValues {
            width: 130px;
            height: 40px;
            font-size: 16px;
            background-color: lightseagreen;
            color: white;
            border: none;
            margin: 20px;
        }
        button:hover {
            cursor: pointer;
        }
        tr:hover {
            cursor: move;
        }
    </style>

    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Survey</legend>
                {{ form|crispy }}
                <script>
					$("#id_content").on('input', function() {
					    let $this = $(this)
					    let $clone = $this.clone()
					    let name = $clone.attr('name')
					    let n = parseInt(name.split('_')[1]) + 1
					    name = 'content_' + n
					    $clone.val('')
					    $clone.attr('name', name)
					    $clone.appendTo($this.parent())
					    $this.removeClass('content-list-new')
					    $this.off('input', arguments.callee)
					    $clone.on('input', arguments.callee)
					})
				</script>
                {% for content_field in form.get_content_fields %}
    				{{ content_field }}
				{% endfor %}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Post</button>
            </div>
        </form>
    </div>
    
	<div class="container">
	    <table>
	        <tbody>
	            <tr>
	                <td><input type="text" name="name"></td>
	                <td><button class="remove">-</button></td>
	            </tr>
	            <tr>
	                <td><input type="text" name="name"></td>
	                <td><button class="remove">-</button></td>
	            </tr>
	        </tbody>
	    </table>
	    <button id="addRow">+ Add</button>
	    <button id="getValues">Get Values</button>
	</div>
		
    
{% endblock content %}
